h1,h2, h3{
  font-family: 'Paprika', cursive;
  color: black;
}
h3{
  font-size: medium;
}
p{
  color: #444;
  font-size: 12pt;
  text-align: left;
}
  body {
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  /* NAVBAR styling */
  .nav-bar-logo{
    height: 2.5rem;
    width: 2rem;
  }

  /* FOOTER styling */
.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #567568;
  color: white;
  text-align: center;
}



/* HOME PAGE styling for grid */
  .container {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
  /*   grid-template-rows: auto 25px auto 25px auto 25px auto 25px auto 25px auto; */
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
  .grid {
    background-color: #444;
    color: #fff;
    padding: 25px;
    font-size: 3rem;
  }
  .header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: #ffff;
    }
        @media only screen and (min-width: 768px) {
          /* Medium devices (landscape tablets, 768px and up) */
          .header{
            visibility: hidden;
          }
        }

  
  .hero {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: #ffff;
    min-height: 300px;
  }
  
  .sidebar {
    grid-column: 1 / 2;
    grid-row-start: 2 / 3;
    min-height: 400px;
    background-color: #fff;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
      .header {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .hero {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    
    .sidebar {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    .grid-header-logo{
      width: 55%;
    }
   
  }  
      

/* BLOG section HOME PAGE styles */  
.blog-feature{
  object-fit: scale-down; 
  max-width: 100%
}
.logo-tow{
  object-fit: scale-down; 
  max-width: 100%;
  height: 50%;
}
.blog-text{
  font-size: 22pt;
}      


/* ABOUT PAGE styles */
.accordion{
  background-color: orange;
}

.about-icons{
  height: 10rem;
  width: 10rem;
}
details > summary {
  list-style-type:circle;
}

details[open] > summary {
  list-style-type:circle;
}

details {
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}


/* FOOTER styling */
  
  .footer{
  background:#567568;
  padding:30px 0px;
  font-family: 'Paprika', sans-serif;
  text-align:center;
  height: 20%;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:#fff;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:orange;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  height: max-content;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
