h1,h2{
  font-family: 'Paprika', cursive;
}
  body {
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  /* NAVBAR styling */
  .nav-bar-logo{
    height: 2.5rem;
    width: 2rem;
  }

  /* FOOTER styling */
.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #567568;
  color: white;
  text-align: center;
}



/* HOME PAGE styling for grid */
  .container {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
  /*   grid-template-rows: auto 25px auto 25px auto 25px auto 25px auto 25px auto; */
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
  .grid {
    background-color: #444;
    color: #fff;
    padding: 25px;
    font-size: 3rem;
  }
  .header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: #ffff;
    }
        @media only screen and (min-width: 768px) {
          /* Medium devices (landscape tablets, 768px and up) */
          .header{
            visibility: hidden;
          }
        }

  
  .hero {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: #d5c9e2;
    min-height: 300px;
  }
  
  .sidebar {
    grid-column: 1 / 2;
    grid-row-start: 2 / 3;
    min-height: 400px;
    background-color: #a0c263;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
      .header {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .hero {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    
    .sidebar {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    .grid-header-logo{
      width: 55%;
    }
   
  }  
      
      


/* ABOUT PAGE styles */
.accordion{
  background-color: orange;
}

.about-icons{
  height: 10rem;
  width: 10rem;
}

